#root{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.main-card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(232, 232, 232);
  padding: 20px 10px 0px 10px;
  border-radius: 10px;
}
.second-card{
  display: flex;
  gap: 15px;
  justify-content: space-between;
}
.third-card{
  display: flex;
  gap: 25px;
  justify-content: space-between;
  background-color: rgba(12, 0, 117, 0.723);
  flex-direction: column;
}