.img-for-all{
    width: 300px;
    height: auto;
    border-radius: 5px;
}
.big-txt{
    font-size: 25px;
}
.min-txt{
    font-size: 15px;
}
.mini-img{
    width: 150px;
    height: auto;
    border-radius: 5px;
}
.one-text{
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.dop-class{
    text-align: center;
}